{% extends "base.html" %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}

<h1>Login</h1>
<hr>

{% if form.errors %}
<p>You have entered an incorrect username or password.</p>
{% endif %}

{% if next %}
{% if not user.is_authenticated %}
<h1>Please login to view that page:</h1>
{% else %}
<h1>Please login:</h1>
{% endif %}
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
    <input type="hidden" name="next" value={{next}}>
</form>
<p><a href="{% url 'register' %}">No account? Register here.</a></p>
<p><a href="{% url 'password_reset' %}">Forgot Password.</a></p>

{% endblock %}