{% extends "base.html" %}
{% block title %}<title>Property</title>{% endblock %}

{% block content %}
<br>
<h1>{{ property.property_type|title }} in {{ property.city }}, {{ property.country }}</h1>
<p>{{ property.address }}</p>
<img style="max-width: 400px;" src="{{ property.cover_image.url }}">
<p><strong>Price:</strong> ${{ property.price }}</p>
{% if property.host%}
<p>Host: <a href="{% url 'public-profile' property.host.pk %}">{{ property.host.name }}</a></p>
{% endif %}
<hr>
<p>{{ property.description }}</p>

{% if property.images.all %}
<hr>
  <h3>Gallery</h3>
    {% for image in property.images.all %}
      <img src="{{ image.image.url }}" style="max-width:150px;">
    {% endfor %}
{% endif %}

<hr>
  <h3>Enquire about this property</h3>
  
  {% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ enquiry_form.as_p }}
        <button type="submit">Submit Enquiry</button>
    </form>
  {% else %}
    <p>You must be <a href="{% url 'login' %}?next={{ request.path }}">logged in</a> to submit an enquiry.</p>
  {% endif %}



{% endblock %}