{% extends "base.html" %}
{% block title %}<title>Property</title>{% endblock %}

{% block content %}
<br>
<img style="max-width: 400px;"  src="{{ property.cover_image.url }}">
<br>
<strong>{{ property.property_type|title }} in {{ property.city }}, {{ property.country }}</strong>
<hr>
<p>$ {{ property.price }}</p>
<hr>
{% if property.host%}
<p>Host: <a href="{% url 'public-profile' property.host.pk %}">{{ property.host.name }}</a></p>
<hr>
{% endif %}
<br>
<p>{{ property.address }}</p>
<br>
{{ property.description }}

{% endblock %}