<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Quick Stay</title>{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>
<body>
<h1>QuickStay</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'properties' %}">Properties</a>
{% if user.is_authenticated %}
<a href="{% url 'property-create' %}">Create New Property</a>
<a href="{% url 'account' %}">Account</a>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<p>Welcome {{user.username}}</p>
{% else %}
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}">Create an account</a>
{% endif %}
<br>

{% block content %}
    
{% endblock %}
    
</body>
</html>